<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  has made
  <%= @user.ratings.count %>
  ratings, average rating:
  <%= @user.average_rating %>
</p>

<p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li> 
        <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>beerclubs</strong>
  <ul>
    <% @user.beer_clubs.each do |b| %>
      <li> <%= link_to b.name, b %> </li>
    <% end %>
  </ul>
</p>

<% if @user.ratings.any? %>
    <p>Favorite beer: <%= @user.favorite_beer %> </p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %> </p>
    <p>Preferred style: <%= @user.favorite_style %> </p>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
